extends layout

block content
	h2  List of Routes of this Api 
		ul.list
			li.marginB
				a(href='http://localhost:3000/api') Index
			|   
			li.marginB a(href='http://localhost:3000/users') Users



